<h2>Edit user</h2>
<%= link_to 'Edit', edit_gossip_path %>
  <%= form_with scope: :gossip, url: gossips_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
