<h1>Voici la page de ton Gossip</h1>
<p>ID</p>
<p><%= @gossip.id %></p>
<hr>
<p>User_ID</p>
<p><%= @gossip.user_id %></p>
<hr>
<p>
  <strong>Title:</strong>
  <%= @gossip.title %>
</p>
<hr>
<p>
  <strong>Contenu:</strong>
  <%= @gossip.content %>
</p>
<hr>
<p>
  <strong>Anonymous_gossiper:</strong>
  <%= @gossip.anonymous_gossiper %>
</p>

<a href="/gossips/<%=params[:id]%>/edit" class="btn btn-primary">Edit</a><br><br>

<%= link_to 'Détruire le Gossip ', @gossip, method: :delete, class: 'btn btn-danger' %>
